* {
  margin: 0;
  padding: 0;
}

.count {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  text-align: center;
}

.h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.button {
  padding: 5px;
  font-size: 16px;
  color: black;
}